spring:
  shell:
    interactive:
      enabled: true
    script:
      enabled: true
copyconfig:
  disablebuiltins:
    performers:
      - name.of.performer
    ignorecheckers:
      - name.of.checker
    pathadjusters:
      - name.of.adjuster
logging:
  level:
    root: WARN
    org.springframework: WARN
    com.go2wheel: WARN
---
spring:
    profiles: dev
logging:
  level:
    root: WARN
    org.springframework: INFO
    com.go2wheel: INFO
    